@import "tailwindcss";

@theme {
  --color-tech-black: #050505;
  --color-tech-gray: #121212;
  --color-neon-blue: #DC0E0E;
  --color-neon-cyan: #00FFFF;
  --color-risk-crit: #FF4500;
  --color-risk-warn: #FFD700;
  --color-risk-safe: #39FF14;
  --color-text-main: #E0E0E0;
  --color-text-dim: #A0A0A0;
  
  --font-sans: Inter, ui-sans-serif, system-ui;
  --font-mono: "Source Code Pro", ui-monospace, SFMono-Regular, monospace;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
